<script src="@Url.Content("~/js/UI/Dialogs/BlockUiDialog.js")" type="text/javascript"></script>
<div class="modal" id="blockUiDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h1 id="blockUiDialogText"></h1><img src="~/Images/fileUploadProgress.gif" />
            </div>
        </div>
    </div>
</div>
